.nav {
  height: 8vh;
  display: flex;
}

.toolbar {
  flex-grow: 1;
  display: flex;
}
.toolbar > a:first-child {
  border-left: 1px solid black;
}
.toolbar > a {
  min-width: fit-content;
  height: 100%;
  width: 10%;
  border-radius: 0;
  border-right: 1px solid black;
}
